.toolkit {

    position: absolute;
    top: 20px;
    left: 5%;
    height: 50px;
    width: 30%;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    display:flex;
    display-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    .action {

        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        transition: 0.3s all ease;  
        

        img {
            opacity: 0.4;
            width: 20px;
            display: block !important;
            margin: 0 auto;
            
        }

        &:hover {



            background-color: #ebebeb;
            cursor: pointer;

            img {
                opacity: 1;
            }
            
        }
    }

   


}

.giphyModal {
    height: 500px;
    overflow:auto;
    position: absolute;
    z-index: 10;
    // background-color: red;
    border: 1px solid rgb(227, 227, 227);
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 13px 0 0 rgb(50 50 93 / 0%), 0 8px 17px -8px rgb(0 0 0 / 30%);
    left: 200px;
    top: 100px;
    
    text-align:center;


    .gifStickerSwitcher {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .option {
            width: 45%;
            border: 1px solid blue;
            border-radius: 2px;
            padding: 5px;
            cursor: pointer;
            // margin: 0 5px;

        }

        .selected {
            background-color: blue;
            color: white;
        }
    } 

    .search {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;    

        input {
            box-sizing: border-box;
            margin: 0;
            padding: 10px 10px;
            border: 1px solid gray;
            border-radius: 3px;
            font-size: 15px;
            width: 100%;
        }

        .searchButton {
            margin: 0 0 0 5px;
            position: absolute;
            display: block;
            background-color: #0095ff;
            width: 55px;
            border-radius: 4px;
            position: relative;
            cursor: pointer;
            transition: 0.3s all ease;
            opacity: 0.8;

            &:hover {
                // background-color: #0088e8;
                opacity:1;
                // box-shadow: 0 13px 0 0 rgb(50 50 93 / 0%), 0 8px 17px -8px rgb(0 0 0 / 30%);

            }

            img {
                width: 20px;
                filter: brightness(0) invert(1);
                width: 20px;
                filter: brightness(0) invert(1);
                position: relative;
                top: 9px;
                
                // position: absolute;
                // top: 0;
                // bottom: 0;
                // left: 0;
                // right: 0;
                // margin: auto;
            }
        }

        
        
    }

    // little triangle thing from adhiv.com. gave up with overflow css
    // &:before {
    //     content: "";
    //     top: 55px;
    //     left: 17px;
    //     content: "";
    //     display: block;
    //     width: 10px;
    //     height: 10px;
    //     -webkit-transform: rotate(45deg);
    //     transform: rotate(45deg);
    //     transition: all .8s ease;
    //     position: absolute;
    //     background-color: #1e1e1e;
    // }
}   

.notFocused {
    .dvNrkR {
        display: none !important;
    }
}

.dvNrkR {
    .rotate{
        top: 106% !important;
        left: 50.5% !important;
    }
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


textarea {

    white-space: pre-wrap !important;

    &:focus {
        border: 1px solid red;
        outline: none !important;
      }

    &:focus-visible {
        border: 1px solid red;
        outline: none !important;
    }
}
